body{

    overflow-y: scroll;

}

unImg{
    position:absolute;
    color: black;
    font-family: Larsseit Medium;
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
}

ti{
    position:absolute;
    color: black;
    text-align: center;
    width: 100%;
    font-family: Larsseit Light;
    font-size: 1.5vw;
}

@media screen and (max-width: 666px) {
    ti {
        font-size: 10px;
    }
}


rTi{
    position:absolute;
    color: black;
    text-align:right;
    width:100%;
    font-family: Georgia;
    font-size: .75vw;
}

@media screen and (max-width: 800px) {
    rTi {
        font-size: 6px;
    }
}

lTi{
    position:absolute;
    color: black;
    text-align:left;
    width:100%;
    font-family: Georgia;
    font-size: .75vw;
}

@media screen and (max-width: 800px) {
    lTi {
        font-size: 6px;
    }
}


cp {
    position:absolute;
    width: 100%;
    top:120%;
    font-family:Georgia;
    font-size:12px;
}

bodL{
    position: absolute;
    color:black
    text-align: left;
    width: 45%
    font-family: Georgia;
    font-size: 12px;
}

bodR{
    position: absolute;
    color: black;
    text-align: left;
    width: 45%;
    font-family: Georgia;
    font-size: 12px;
    left: 50%
}


.cover01 {
    position: absolute;
    top: calc(5vw + 10vh + 10px);
    left: 20vw;
    width: 18vw;
    height: 24vw;
}


.cover01 img{
    position: absolute;
    max-width:100%;
}


.cover02 {
    position: absolute;
    top: calc(5vw + 10vh + 10px);
    left: 40vw;
    width: 18vw;
    height: 24vw;
}

.cover02 img{
    position: absolute;
    max-width:100%;
}

.cover03 {
    position: absolute;
    top: calc(5vw + 10vh + 10px);
    left: 60vw;
    width: 18vw;
    height: 24vw;
}

.cover03 img{
    position: absolute;
    max-width:100%;
}

.titleHead{
    position:absolute;
    top: 5vh;
    left: 20vw;
    width: 58vw;
}

.titleHead img{
    position: absolute;
    width: 80%;
    vertical-align: middle;
}


.titleHead T{
    position:absolute;
    color: black;
    text-align:left;
    width:100%;
    top: 30px;
    font-family: Larsseit Medium;
    font-size: 30px;
}

.titleHead c1{
    position: absolute;
    top: 120px;
    width: 50%;
    text-align: justify;
}
