body{

    overflow-y: scroll;

}

unImg{
    position:absolute;
    color: black;
    font-family: Larsseit Medium;
    font-size: 1.5vw;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
}

.titleHead{
    position:absolute;
    align-content: center;
    top: 5vh;
    left: 20vw;
    width: 60vw;
}

.titleHead .forLink{
    position:absolute;
    color: black;
    text-align: center;
    left: 85%;
    width: 15%;
}

.titleHead .forLink linkTxt{
    font-family: Georgia;
    font-size: .8vw;
}

.titleHead img{
    position: absolute;
    left: 85%;
    width: 15%;
    opacity: .25;
}

.titleHead ti{
    position:absolute;
    color: black;
    text-align: center;
    width: 100%;
    font-family: Larsseit Light;
    font-size: 1.5vw;
}

@media screen and (max-width: 666px) {
    .titleHead ti {
        font-size: 10px;
    }
}

rTi{
    position:absolute;
    color: black;
    text-align:right;
    left: 90%;
    width: 10%;
    font-family: Georgia;
    font-size: .8vw;
}

@media screen and (max-width: 800px) {
    rTi {
        font-size: 6px;
    }
}



lTi{
    position:absolute;
    color: black;
    text-align:left;
    width:10%;
    font-family: Georgia;
    font-size: .8vw;
}

@media screen and (max-width: 800px) {
    lTi {
        font-size: 6px;
    }
}



cp {
    position:absolute;
    width: 100%;
    top:105%;
    font-family:Georgia;
    font-size:13px;
}

bodL{
    position: absolute;
    color:black
    text-align: left;
    width: 45%
    font-family: Georgia;
    font-size: 13px;
}

bodR{
    position: absolute;
    color: black;
    text-align: left;
    width: 45%;
    font-family: Georgia;
    font-size: 13px;
    left: 50%
}

bodC{
    position: absolute;
    color: black;
    text-align: center;
    line-height: 150%;
    top: 110%;
    width: 100%;
    font-family: Georgia;
    font-size: 13px;
}

.previous{
    position: absolute;
    top: calc(2vh + 60px + 20vw);
    width: 5vw;
    left: 15vw;
}

.previous img{
    position: absolute;
    opacity: .5;
    max-width: 50%
}

.next{
    position: absolute;
    top: calc(2vh + 60px + 20vw);
    width: 5vw;
    left: 80vw
}

.next img{
    position: absolute;
    opacity: .5;
    max-width: 50%;
    left: 100%;
}

.pg {
    position: absolute;
    top: calc(2vh + 60px);
    left: 20vw;
    width: 60vw;
    height: 24vw;
    align-content: center;
}

.pg img{
    position: absolute;
    opacity: 0;
    left:2.5%;
    max-width:95%;
}

.pg bL{
    position:absolute;
    opacity: .3;
    width:100%;
    text-align: center;
    font-family: Georgia;
    font-size: 10vh;
}

.markTab {
    position: absolute;
    align-content: center;
    top: 91vh;
    width: 60vw;
    left: 20vw;
    height: 1vh;
}

.markTab img{
    position: absolute;
    width:3%;
    height:100%;
    opacity:.1;
}


