body{

    overflow-y: scroll;

}

unImg{
    position:absolute;
    color: black;
    font-family: Larsseit Medium;
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
}

.contain{
    position:absolute;
    top:7vh;
    left:2vw;
    width:96vw;
    outline-style: solid;
    outline-width: thin;
}

.heading{
    position:absolute;
    top: 2vh;
    left: 3vw;
    width: 94vw;
    height: 3vh;
    vertical-align: bottom;
}

.heading hTi{
    position:absolute;
    color: black;
    text-align: left;
    width: 30%;
    font-family: Larsseit Light;
    font-size: 3vh;
}

.lnk{
    position: relative;
    left:80%;
}

.lnk linkTi{
    position:relative;
    color: black;
    font-family: "Larsseit ExtraBold";
    font-size: 1.5vh;
}


@media screen and (max-width: 666px) {
    ti {
        font-size: 10px;
    }
}




@media screen and (max-width: 800px) {
    rTi {
        font-size: 6px;
    }
}


.pr01 {
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 18vw;
    height: 24.75vw;
}

.pr01 img{
    position: absolute;
    max-width:100%;
}


.pr02 {
    position: absolute;
    top: 10vh;
    left: 40vw;
    width: 18vw;
    height: 24.75vw;
}

.pr02 img{
    position: absolute;
    max-width:100%;
}

.pr03 {
    position: absolute;
    top: 10vh;
    left: 60vw;
    width: 18vw;
    height: 24.75vw;
}

.pr03 img{
    position: absolute;
    max-width:100%;
}


.pr04 {
    position: absolute;
    top: calc(2vw + 24.75vw + 10vh);
    left: 20vw;
    width: 18vw;
    height: 24.75vw;
}

.pr04 img{
    position: absolute;
    max-width:100%;
}

.pr05A {
    position: absolute;
    top: calc(2vw + 24.75vw + 10vh);
    left: 40vw;
    width: 38vw;
    height: 49.5vw;
}

.pr05A img{
    position: absolute;
    max-width:100%;
}

.pr05B {
    position: absolute;
    top: calc(2vw + 24.75vw + 10vh);
    left: 40vw;
    width: 18vw;
    height: 24.75vw;
}

.pr05B img{
    position: absolute;
    max-width:100%;
}


.pr06A {
    position: absolute;
    top: calc(2vw*2 + 24.75vw*2 + 10vh);
    left: 20vw;
    width: 18vw;
    height: 24.75vw;
}

.pr06A img{
    position: absolute;
    max-width:100%;
}

.pr06B {
    position: absolute;
    top: calc(2vw + 24.75vw + 10vh);
    left: 60vw;
    width: 18vw;
    height: 24.75vw;
}

.pr06B img{
    position: absolute;
    max-width:100%;
}

.titleHead{
    position:absolute;
    top: 5vh;
    left: 20vw;
    width: 58vw;
}
