body{

    overflow: scroll;

}

unImg{
    position:absolute;
    color: black;
    font-family: Larsseit Medium;
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
}

.pr01 {
    position: absolute;
    top: 5vh;
    left: 20vw;
    width: 18vw;
    height: 24.75vw;
}

.pr01 img{
    position: absolute;
    max-width:100%;
}


.pr02 {
    position: absolute;
    top: 5vh;
    left: 40vw;
    width: 18vw;
    height: 24.75vw;
}

.pr02 img{
    position: absolute;
    max-width:100%;
}

.pr03 {
    position: absolute;
    top: 5vh;
    left: 60vw;
    width: 18vw;
    height: 24.75vw;
}

.pr03 img{
    position: absolute;
    max-width:100%;
}


.pr04 {
    position: absolute;
    top: calc(2vw + 24.75vw + 5vh);
    left: 20vw;
    width: 18vw;
    height: 24.75vw;
}

.pr04 img{
    position: absolute;
    max-width:100%;
}

.pr05A {
    position: absolute;
    top: calc(2vw + 24.75vw + 5vh);
    left: 40vw;
    width: 38vw;
    height: 49.5vw;
}

.pr05A img{
    position: absolute;
    max-width:100%;
}

.pr05B {
    position: absolute;
    top: calc(2vw + 24.75vw + 5vh);
    left: 40vw;
    width: 18vw;
    height: 24.75vw;
}

.pr05B img{
    position: absolute;
    max-width:100%;
}


.pr06 {
    position: absolute;
    top: calc(2vw + 24.75vw + 5vh);
    left: 60vw;
    width: 18vw;
    height: 24.75vw;
}

.pr06 img{
    position: absolute;
    max-width:100%;
}

.titleHead{
    position:absolute;
    top: 5vh;
    left: 20vw;
    width: 58vw;
}
